/* map.css */
@import '~leaflet/dist/leaflet.css';

@media (max-width: 580px) {
	.leaflet-control-container {
		display: none;
	}
}

:root {
	--dark-gray: hsl(0, 0%, 17%);
	--md-gray: hsl(0, 0%, 59%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch; /* deixa a rolagem suave */
}
body {
	overflow-x: hidden !important;
}
